/* =============
    Typography
============= */

.gallery{

    ul{
        padding: 0;

        li{
            list-style:none;
        }

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        @include lg{
            grid-template-columns: 60% auto;
        }

        @include xl{
            grid-template-areas: 
            "g1 g2"
            "g1 g3";
        }

        li{

            &.img-1{

                background-image: url('../img/guytrimmingshrub.webp');
                background-size: cover; 
                

                @include xl{
                    grid-area: g1;
                }

                img{
                    display: none;
                }

            }

            &.img-2{

                @include xl{
                    grid-area: g2;
                }
            }

            &.img-3{
                display: none;

                @include xl{
                    display: block; 
                    grid-area: g3;
                
                }
            }
        }
    }

}