/* =============
    landscaping articles 
============= */

.landscapingarticles{

    ul{

        @include md{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }


    
        @include xl{
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas: 
            "p1 p2 p3"
            "p4 p5"
            ;
        
            .flowers{
                grid-area: p1;
            }

            .guydigging{
                grid-area: p2;
            }

            .outdoorbackyard{
                grid-area: p3;
            }

            .twoguysworking{
                grid-area: p4;
            }

            .treebackyard{
                grid-area: p5;
            }
        }
        
       
    }
}