/* =============
    Tailored solutions and experts and images
============= */

.Tailoredsolutionsandexpertsandimages{
    
    &.container{

        @include md{
            display:grid;
            grid-template-columns: 10% auto 10%;
            grid-template-areas:
               ". content ."
           ;
           
       }

       @include xl{
        grid-template-columns: auto 750px auto;
       }
       
    }

    
}