/* =============
    Footer
============= */

footer{

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "content";
      

        @include md{
            grid-template-columns: 1fr 1fr;
            
        }
    }
}
